body {
    margin: 0;
    font-family: 'Roboto Condensed', 'Oxygen', 'Ubuntu', 'Cantarell',
        'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: 'Roboto Condensed', sans-serif, source-code-pro, Menlo, Monaco,
        Consolas, 'Courier New', monospace;
}

/* These styles make the body full-height */
html,
body {
    height: 100%;
}
/* These styles disable body scrolling if you are using <ScrollView> */
body {
    overflow: hidden;
}
/* These styles make the root element full-height */
#root {
    display: flex;
    height: 100%;
    background-image: linear-gradient(#282c34, #16181d);
}

a:link {
    text-decoration: none;
    color: gray;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: lightblue;
}

a:active {
    text-decoration: none;
    color: white;
}

html {
    overflow-y: scroll;
    overflow-y: overlay;
}
